cmake_temp/

*.DS_Store
.DS_Store
tmtags

*.output
*.temp
**/_aot_generated

build/
bin/
.vscode/
.cache/
temp/


test.bin
include/modules/external_need.inc
include/modules/external_resolve.inc
examples/test/imgui.ini
examples/test/Simple.json
temp/fragment.bin
temp/fragment.sh
temp/varying.def.sc
temp/vertex.bin
temp/vertex.sh
temp/compute.bin
temp/compute.sh
modules/dasSFML/libsfml/
site/
doc/sphinx-build/
doc/source/__pycache__/
doc/source/_build/doctrees/environment.pickle
doc/source/_build/

web/emsdk/
web/cmake_temp/
web/CMakeXxdImpl.txt
web/output/daScript.html
web/output/daScript.js
web/output/daScript.js.mem
web/output/daScript.wasm
web/output/.idea/

examples/rast2d/LEVELS/
examples/rast2d/SOUNDS/audio_0.wav
examples/rast2d/SOUNDS/
examples/rast2d/SPRITES/
examples/rast2d/WALLS/
examples/rast2d/PICTURES/
yzg.code-workspace
