/config.h
/build/
/CMakeCache.txt
/CMakeDoxyfile.in
/CMakeDoxygenDefaults.cmake
/CMakeFiles/
/cmake_install.cmake
/CTestTestfile.cmake
/liburiparser.a
/liburiparser.pc
/liburiparser.so*
/Makefile
/Testing/
/testrunner
/uriparser-*.tar.bz2
/uriparser-*.zip
/uriparse
