*.DS_Store
.DS_Store

*.output
*.temp

build/                      # build artifacts
bin/                        # All build binaries stored here
jitted_scripts/             # JIT stores dll's here
lib/                        # All build libraries stored here
modules/**/*.shared_module
examples/**/*.shared_module
.vscode/
.cache/

modules/dasSFML/libsfml/
site/
doc/sphinx-build/
doc/source/__pycache__/
doc/source/_build/doctrees/environment.pickle
doc/source/_build/

web/emsdk/
web/cmake_temp/
web/CMakeXxdImpl.txt
web/output/daScript.html
web/output/daScript.js
web/output/daScript.js.mem
web/output/daScript.wasm
web/output/.idea/

yzg.code-workspace

examples/wip.das

utils/dasFormatter/ds_parser.output
src/parser/ds2_parser.output
src/parser/ds_parser.output
