[submodule "modules/dasGenForEach"]
	path = modules/dasGenForEach
	url = git@github.com:olegus8/dasGenForEach.git
[submodule "modules/dasBinder"]
	path = modules/dasBinder
	url = git@github.com:olegus8/dasBinder.git
[submodule "modules/dasVulkan"]
	path = modules/dasVulkan
	url = git@github.com:olegus8/dasVulkan.git
[submodule "modules/dasGlfw"]
	path = modules/dasGlfw
	url = https://github.com/borisbat/dasGlfw.git
[submodule "modules/dasImgui"]
	path = modules/dasImgui
	url = https://github.com/borisbat/dasImgui.git
[submodule "modules/dasBGFX"]
	path = modules/dasBGFX
	url = https://github.com/borisbat/dasBGFX.git
[submodule "modules/dasXbyak"]
	path = modules/dasXbyak
	url = https://github.com/borisbat/dasXbyak.git
