{
    "version": "@VERSION@",
    "description": "High-performance statically-typed scripting language for games and real-time applications",
    "homepage": "https://daslang.io",
    "license": "BSD-3-Clause",
    "url": "https://github.com/GaijinEntertainment/daScript/releases/download/@TAG@/daslang-bundle-windows-x86_64.zip",
    "hash": "@SHA:daslang-bundle-windows-x86_64.zip@",
    "extract_dir": "daslang_bundle",
    "bin": [
@SCOOP_BIN@
    ],
    "checkver": {
        "url": "https://github.com/GaijinEntertainment/daScript/releases",
        "regex": "/releases/tag/v([\\d.]+)"
    },
    "autoupdate": {
        "url": "https://github.com/GaijinEntertainment/daScript/releases/download/v$version/daslang-bundle-windows-x86_64.zip"
    }
}
