*.shared_module
*.exp
*.lib
.daspkg_standalone
_build/
build/
modules/
imgui/
example/imgui.ini
example/imgui_log.txt
imgui.ini
libhv.*.log
example/**/_*.png
example/_aot_generated/
# Visual-aids ad-hoc smoke screenshots dropped at repo root by the screenshot live_command
tour_*.png
decay_*.png
no_unsafe.png
post_addrect.png
post_fix_render.png
final_clean.png
narrate_fixed.png
auto_flash_click.png
auto_highlight_test.png
ah_step*.png
daslib/_aot_generated/
src/imgui_headers.h.json
src/imgui_headers.h.json.log
src/imgui_vulkan_headers.h.json
src/imgui_vulkan_headers.h.json.log
